body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color:#e6e6dc;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    gap: 50px;
}

.blog-content{
    font-size: medium;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    flex: 1;  /* 内容区域撑满剩余空间 */
}

.pulse-button {
    border-radius: 10px;
    padding: 15px 30px;
    background: #d8d8d82f;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 8px;

}

.pulse-button:hover {
    background: #00000023;
    color: rgb(0, 0, 0);
}

.title-view{
    font-size: 30px;
    font-weight: 600;
}

.btn-found-date-text{
    color: rgb(110, 110, 110);
    font-size: 15px;
}

.fixed-footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: rgb(230, 230, 230);
    padding-top: 20px;
    border-top: 1px solid #444;
    padding-bottom: 20px;
}

.page-title{
    font-size: 35px;
    font-weight: 700;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

/* 移动端适配*/
@media (max-width: 800px) {
    .title-view{
        font-size: 28px;
    }
    .blog-content{
        font-size: large;
        margin-left: 10%;
        margin-right: 10%;
    }
}