.blog-tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
}
.article-tag {
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    outline: none;
    background: #dddddd;
    color: rgb(46, 46, 46);
}
.article-tag:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px #00000027;
}

@media (max-width: 800px) {
    .blog-tag-container{
        margin-left: 10%;
    }
}